USE [suppercar]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 3/18/2026 9:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[Id] [bigint] IDENTITY(100000,1) NOT NULL,
	[Billid] [bigint] NOT NULL,
	[CarId] [nvarchar](20) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 3/18/2026 9:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [bigint] IDENTITY(10000,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[CardId] [int] NOT NULL,
	[Checkin] [datetime] NOT NULL,
	[Checkout] [datetime] NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 3/18/2026 9:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Id] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[Available] [bit] NOT NULL,
	[CategoryId] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 3/18/2026 9:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Fullname] [nvarchar](150) NULL,
	[Phone] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/18/2026 9:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/18/2026 9:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[Manager] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([Id], [Billid], [CarId], [UnitPrice], [Discount], [Quantity]) VALUES (100023, 10024, N'2', 2000000, 0.05, 1)
INSERT [dbo].[BillDetails] ([Id], [Billid], [CarId], [UnitPrice], [Discount], [Quantity]) VALUES (100024, 10024, N'1', 1000000, 0.2, 21)
INSERT [dbo].[BillDetails] ([Id], [Billid], [CarId], [UnitPrice], [Discount], [Quantity]) VALUES (100027, 10026, N'1', 1000000, 0.2, 1)
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([Id], [Username], [CardId], [Checkin], [Checkout], [Status]) VALUES (10023, N'huy', 1, CAST(N'2025-07-29T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Bills] ([Id], [Username], [CardId], [Checkin], [Checkout], [Status]) VALUES (10024, N'huy', 1, CAST(N'2025-07-30T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Bills] ([Id], [Username], [CardId], [Checkin], [Checkout], [Status]) VALUES (10025, N'huy', 3, CAST(N'2025-07-30T21:32:20.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
INSERT [dbo].[Car] ([Id], [Name], [UnitPrice], [Discount], [Image], [Available], [CategoryId]) VALUES (N'1', N'Lamborghini', 1000000, 0.2, N'AD3.jpg', 1, N'1')
INSERT [dbo].[Car] ([Id], [Name], [UnitPrice], [Discount], [Image], [Available], [CategoryId]) VALUES (N'2', N'Mclaren', 2000000, 0.05, N'AD4.jpg', 1, N'2')
INSERT [dbo].[Car] ([Id], [Name], [UnitPrice], [Discount], [Image], [Available], [CategoryId]) VALUES (N'3', N'Buggati', 4000000, 0.15, N'AD6.jpg', 0, N'3')
GO
INSERT [dbo].[Cards] ([Id], [Status], [Fullname], [Phone]) VALUES (1, 1, N'Hoang Phu Hung', N'0372645987')
INSERT [dbo].[Cards] ([Id], [Status], [Fullname], [Phone]) VALUES (2, 1, N'chung thien huy', N'0123456789')
INSERT [dbo].[Cards] ([Id], [Status], [Fullname], [Phone]) VALUES (3, 1, N'Dinh Pham Phu Quy', N'0399876584')
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'1', N'Lamborghini')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'2', N'Mclaren')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'3', N'Buggati')
GO
INSERT [dbo].[Users] ([Username], [Password], [Enabled], [Fullname], [Photo], [Manager]) VALUES (N'hung', N'2345', 1, N'Hoàng Phú Hưng', N'HC.jpg', 1)
INSERT [dbo].[Users] ([Username], [Password], [Enabled], [Fullname], [Photo], [Manager]) VALUES (N'hung123', N'4567', 1, N'hoang phu hung', N'Hinh-anh-khong-gian-cuc-ao-4k-scaled.jpg', 1)
INSERT [dbo].[Users] ([Username], [Password], [Enabled], [Fullname], [Photo], [Manager]) VALUES (N'huy', N'1234', 1, N'Chung Thiện Huy', N'HC.jpg', 1)
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD FOREIGN KEY([Billid])
REFERENCES [dbo].[Bills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([CardId])
REFERENCES [dbo].[Cards] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
